<div class="container">
	<div class="col-md-3 col-md-offset-8" style="position:fixed;top:25%;left:0%">
		<form>
			<div class="form-group">
				<label for="inputUsername">Username</label>
				<input type="text" class="form-control" ng-model="inputUsername" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" class="form-control" ng-model="inputPassword" placeholder="Password">
			</div>
			<button type="submit" ng-click="LoginValidate()" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>